body{
    background-color: #efefef;
    margin:0px;
}
*{
    padding: 0;
    margin: 0;
}
ol,ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    list-style: none;
    font-weight: normal;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.TopNavBar{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
}
.TopNavBar-init{
    padding: 20px 16px;
}
.TopNavBar .logo{
    font-family: "Arial Black";
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 3px;
}
.TopNavBar .logo .rs{
    color: #e5676c;
    margin-right: 4px;
}
.TopNavBar .logo .card{
    color: #999ca1;
}
a{
   color:inherit;
    text-decoration: none;
}
.banner{
    background-image: url("./rs-cover.jpg");
    height: 515px;
    background-size: cover;
    position: center;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
.TopNavBar a {
    float: left;
}
.TopNavBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-top: 8px;
    padding-bottom: 0px;
}
.TopNavBar nav ul li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.TopNavBar nav ul li a{
    font-size: 12px;
    color: #bdc0c0;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 5px 0px;
    display: block;
}
.TopNavBar nav ul li a:hover{
    border-bottom: 3px solid #e06567;
}
.userCard{
    background-color: #ffffff;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}
.userCard .pictureAndText{
    padding: 58px 50px;
}
.userCard .welcome{
    position: relative;
    font-weight: bold;
    display: inline-block;
    color: white;
    background-color:rgb(232,103,107) ;
    padding: 5px 8px;
    line-height: 21px;
    margin-bottom: 27px;
}
.userCard .welcome .triangle{
    display: block;
    position:absolute;
    border: 10px solid transparent;
    width: 0;
    border-top-width: 0px;
    border-left-color:rgb(232,103,107);
    left: 4px;
    top: 100%;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    padding-left: 50px;
    width: 490px;
}
.userCard h1{
    padding-bottom: 7px;
}
.userCard hr{
    color: rgb(222,222,222);
    height: 0;
    border-top: 1px;
    margin: 25px 0px;
}
.userCard dl dt,
.userCard dl dd{
    float: left;
}
.userCard dl dt{
    width: 30%;
    font-weight: bold;
}
.userCard dl dd{
    width: 70%;
    color: #9da0a7;
}
.userCard .media{
    background-color: rgb(232,103,107);
    text-align: center;
}
.userCard .media a{
    display: inline-block;
    border-radius: 50%;
    width: 46px;
    line-height: 30px;
    padding: 8px 0px;
    margin: 16px 16px;
}
.userCard .media a:hover{
    background: #cf5d5f;
}
.userCard .media a svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
main .center{
    text-align: center;
}
main .download{
    border:1px #cdcfd1 solid;
    background: #efefef;
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}
main .download:hover {
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.2);
}
main .selfIntroduction{
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    -ms-text-align-last: center;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    line-height: 1.5;
}
section.skills,
section.portfolio{
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}
section.skills h2,
section.portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills ol{
    border: 1px white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 40px 50px 8px;
    margin-top: 30px;
}
section.skills ol li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.skills ol li:nth-child(even){
    float: right;
}
section.skills .progressBar{
    height: 5px;
    margin: 5px 0 39px;
    background: #fae1e1;
    border-radius: 2px;
}
section.skills .progress{
    background: #e6686a;
    height: 100%;
    width:70%;
    border-radius: 2px;
}
section.portfolio{
    text-align: center;
}
section.portfolio nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
    height: auto;
}
section.portfolio ol{
    display: inline-block;
    vertical-align: top;
}
section.portfolio ol li{
    float: left;
    margin-right: 50px;
    cursor: pointer;
}
section.portfolio ol li:nth-child(3){
    margin-right: 0;
}
section.portfolio .bar{
    height: 5px;
    color: white;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
}
section.portfolio .bar-inner{
    height: 100%;
    width: 20%;
    background: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
}
section.portfolio  .bar.state-1 .bar-inner{
    margin-left: 0px;
    width:33px;
}
section.portfolio .bar.state-2 .bar-inner{
    margin-left: 82px;
    width:34px;
}
section.portfolio .bar.state-3 .bar-inner{
    margin-left: 165px;
    width:100px;
}
section .works{
    position: relative;
}
section .big,
section .small{
    position: absolute;
}
section .works{
    margin-bottom: 120px;
}